{% extends 'PcComponents/base.html' %}
{%block body %}
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, consectetur
  atque. Excepturi ut quo illo dicta a natus inventore corporis rerum fugit quia
  aperiam fuga obcaecati nemo dolores eos unde facilis laborum, neque aliquam,
  minus error veniam voluptatibus distinctio. Mollitia voluptates cumque
  possimus eaque nobis incidunt exercitationem tenetur accusamus amet cupiditate
  fugiat laborum, sint enim repellendus dicta vero animi totam quia iste officia
  assumenda ipsa sunt, vitae labore! Voluptas deserunt praesentium, dolor iste
  harum asperiores soluta consequatur? Explicabo, temporibus! Libero, veritatis.
  Enim quidem veritatis ipsam eveniet consequuntur, sunt voluptates, eaque,
  explicabo facere iusto excepturi! Vel soluta doloremque harum dolores eius?
</p>

{% endblock%}