{%load static%}

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'PcComponents/styles.css' %}" />
  <title>PcComponents</title>
</head>

<body>
  <nav>
    <h3>PcComponents</h3>
    <div>
      <a href="{% url 'index' %}">Inicio</a>
      <a href="{% url 'productos' %}">Productos</a>
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'admin:index' %}">Admin</a>
    </div>
    {% if user.is_authenticated %}
    <div class="cajota">
      <div class="cajaperfil">

        {% if user.foto_perfil %}
        <img class="perfil" src="{{user.foto_perfil.url}}" alt="imagen {{user.nombre}}">
        {% endif %}
      </div>
      <div>

        <form action="{%url 'logout' %}" method="post">
          {%csrf_token%}
          <p>Bienvenido {{user.username}} </p>
          <button type="submit">Cerrar sesion</button>
        </form>
      </div>
    </div>
    {%else%}
    <div>
      <a href="{%url 'login' %}">Login</a>
    </div>
    {%endif%}
  </nav>
  {% block body %} {% endblock %}
</body>

</html>