{% extends 'PcComponents/base.html' %}
{% block body %}
<div class="container">

  <h1 class="titulo">Bienvenidos a PcComponents</h1>
  <h2>El mejor lugar para encontrar el componente que necesitas</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sit
    voluptatibus aspernatur ab, nisi omnis harum ut voluptatem esse aliquid qui
    exercitationem laborum architecto molestias! Ad ex doloribus alias distinctio
    dolor est facilis aspernatur consequatur a quisquam officia vero fuga
    perferendis ea vitae quidem adipisci consequuntur, cupiditate pariatur
    praesentium quam rem illum! Vitae deleniti assumenda modi! Dicta vero ratione
    praesentium delectus officiis libero quasi, quo qui quibusdam culpa aliquid,
    dolorum consectetur quis exercitationem error impedit, tempore veritatis
    inventore accusantium rem. Quas amet molestiae voluptatem, obcaecati dolorum
    architecto ratione error, consectetur pariatur debitis nam nesciunt suscipit
    mollitia voluptate quos, hic excepturi.
  </p>
</div>
{% endblock %}